<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta http-equiv="refresh" content="30">
  </head>
  <body>
    <h1><a href="http://www.house-ware.co/" target="_blank" style="text-decoration: none"><%= title %></a></h1>
    <p>Welcome to <%= title %></p>
    <table>
      <tr>
        <td>Door</td>
        <td><%= door %></td>
     </tr>
     <tr>
        <td>Light</td>
        <td><%= light %></td>
     </tr>
     <tr>
        <td>Temperature</td>
        <td><%= temperature %></td>
     </tr>
     <tr>
        <td>Battery</td>
        <td><%= battery %></td>
     </tr>
    </table>
    <br>
    <form action="">
      <input type="button" value="Refresh">
    </form>
    <br>
    <p>Version <%= version %></p>
  </body>
</html>
